html, 
body {
        margin: 0;
        height: 100%;
        width: 100%;        
}

#game {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
}

canvas {
        padding: 0;
        margin: auto;
        display: block;
        border: 1px solid magenta;
}

canvas.test-canvas {
        width: 320px;
}

/*
button {
        padding: 0;
        margin: auto;
        margin-top:10px;
        display: block;
        width: 128px;
        height: 32px;
}
*/

.button-container {
    width: 1024px;
    overflow-y: auto;
    margin:auto;
    display:block;
}

.button-container > button {
    width: 100px;
    height: 50px;
    font-weight: bold;
    float: left;
    background: lightgray;   
    margin: 15px;
}